.page-connexion {
  min-height: calc(100vh - 90px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .notification-valid {
    width: 300px;
    text-align: center;
  }

  .container {
    border-radius: 20px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .zone-title {
      width: 100%;
      margin-bottom: 30px;
      background-color: $purple;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        color: $white;
        padding: 15px 0;
      }
    }

    p {
      padding: 0 15px;
    }

    form {
      width: 100%;
      margin-top: 40px;

      .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .input-field {
          margin: 0 0 20px 0;

          label {
            font-size: 18px;
            margin-bottom: 15px;
          }
        }
        button {
          background-color: $blue;
        }
      }
      #numero-licence:not(.browser-default) {
        border-bottom: 1px solid $blue;
      }
      #numero-licence:focus:not(.browser-default) {
        border-bottom: 1px solid #26A69A;
      }
      #numero-licence:not(.browser-default):not([readonly])+label {
        color: $blue;
      }
      #numero-licence:not(.browser-default):focus:not([readonly])+label {
        color: #26A69A;
      }
    }
    .message {
      margin-top: 20px;
    }
  }
}