@charset "UTF-8";
/*
 * VARIABLES
 */
/*
 * Paramètres généraux
 */
/* line 13, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 17, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
html, body {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  background-color: #f0f0f0; }

/* line 26, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #A33074;
  margin: 0; }

/* line 34, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500; }

/* line 39, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
p, span {
  font-family: "Barlow", sans-serif;
  font-weight: 400; }

/* line 46, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
header .navbar-fixed nav {
  height: 90px; }
  /* line 48, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
  header .navbar-fixed nav .nav-wrapper {
    height: 100%;
    padding: 0 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    /* line 57, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
    header .navbar-fixed nav .nav-wrapper .brand-logo {
      height: 100%;
      display: block;
      position: static; }
      /* line 62, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
      header .navbar-fixed nav .nav-wrapper .brand-logo img {
        height: 60%;
        width: auto; }
    /* line 67, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
    header .navbar-fixed nav .nav-wrapper h1 {
      font-size: 14px;
      margin: 0 0 0 10px; }

@media screen and (min-width: 640px) {
  /* line 77, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
  header .navbar-fixed nav .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    /* line 83, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
    header .navbar-fixed nav .nav-wrapper .brand-logo img {
      height: 98%;
      width: auto; }
    /* line 88, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
    header .navbar-fixed nav .nav-wrapper h1 {
      font-size: 22px;
      margin: 0 0 0 20px; } }

/* line 95, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_general.scss */
footer {
  width: 100vw;
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  color: #000; }

/* line 1, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
.page-connexion {
  min-height: calc(100vh - 90px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  /* line 9, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
  .page-connexion .notification-valid {
    width: 300px;
    text-align: center; }
  /* line 14, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
  .page-connexion .container {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    /* line 22, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
    .page-connexion .container .zone-title {
      width: 100%;
      margin-bottom: 30px;
      background-color: #A33074;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 32, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
      .page-connexion .container .zone-title h2 {
        color: #fff;
        padding: 15px 0; }
    /* line 38, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
    .page-connexion .container p {
      padding: 0 15px; }
    /* line 42, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
    .page-connexion .container form {
      width: 100%;
      margin-top: 40px; }
      /* line 46, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
      .page-connexion .container form .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; }
        /* line 52, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
        .page-connexion .container form .row .input-field {
          margin: 0 0 20px 0; }
          /* line 55, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
          .page-connexion .container form .row .input-field label {
            font-size: 18px;
            margin-bottom: 15px; }
        /* line 60, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
        .page-connexion .container form .row button {
          background-color: #0083C7; }
      /* line 64, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
      .page-connexion .container form #numero-licence:not(.browser-default) {
        border-bottom: 1px solid #0083C7; }
      /* line 67, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
      .page-connexion .container form #numero-licence:focus:not(.browser-default) {
        border-bottom: 1px solid #26A69A; }
      /* line 70, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
      .page-connexion .container form #numero-licence:not(.browser-default):not([readonly]) + label {
        color: #0083C7; }
      /* line 73, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
      .page-connexion .container form #numero-licence:not(.browser-default):focus:not([readonly]) + label {
        color: #26A69A; }
    /* line 77, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_connexion.scss */
    .page-connexion .container .message {
      margin-top: 20px; }

/* line 1, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
.page-validation {
  min-height: calc(100vh - 90px);
  margin-top: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 9, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
  .page-validation .container {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    /* line 17, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
    .page-validation .container .zone-title {
      width: 100%;
      margin-bottom: 30px;
      background-color: #A33074;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 27, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container .zone-title h2 {
        color: #fff;
        padding: 15px 0; }
    /* line 34, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
    .page-validation .container form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      /* line 41, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly; }
        /* line 47, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
        .page-validation .container form .row.choice-zone {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin-bottom: 0; }
          /* line 53, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
          .page-validation .container form .row.choice-zone span {
            color: #000; }
        /* line 57, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
        .page-validation .container form .row:nth-child(2) {
          margin-bottom: 0; }
        /* line 61, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
        .page-validation .container form .row .input-field {
          margin: 0 0 20px 0; }
          /* line 63, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
          .page-validation .container form .row .input-field.zone-date {
            margin-top: 25px; }
          /* line 67, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
          .page-validation .container form .row .input-field label {
            font-size: 18px;
            margin-bottom: 15px; }
      /* line 74, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form #naissance:not(.browser-default) {
        border-bottom: 1px solid #0083C7; }
      /* line 77, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form #naissance:focus:not(.browser-default) {
        border-bottom: 1px solid #26A69A; }
      /* line 80, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form #naissance:not(.browser-default):not([readonly]) + label {
        color: #0083C7; }
      /* line 83, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form #naissance:not(.browser-default):focus:not([readonly]) + label {
        color: #26A69A; }
      /* line 87, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form .divider {
        width: 100%;
        height: 2px;
        margin-bottom: 20px;
        background: linear-gradient(to right, #0083C7, #A33074); }
      /* line 96, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form p {
        padding-left: 15px;
        margin-bottom: 10px; }
      /* line 101, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
      .page-validation .container form button {
        background-color: #0083C7;
        margin: 0 auto;
        margin-bottom: 20px; }
    /* line 107, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_validation.scss */
    .page-validation .container .message {
      margin: 0 auto 20px auto;
      width: 98%; }

/* line 1, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_dashboard-admin.scss */
.espace-admin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0; }
  /* line 9, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_dashboard-admin.scss */
  .espace-admin .conteneur {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #fff; }
    /* line 18, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_dashboard-admin.scss */
    .espace-admin .conteneur h1 {
      width: 100%;
      background-color: #A33074;
      padding: 10px 0;
      color: #fff;
      text-align: center;
      border-radius: 10px 10px 0 0; }
    /* line 26, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_dashboard-admin.scss */
    .espace-admin .conteneur p {
      margin: 40px 0; }
    /* line 30, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_dashboard-admin.scss */
    .espace-admin .conteneur a {
      margin-bottom: 20px;
      padding: 15px 20px;
      background-color: #0083C7;
      color: #fff;
      box-shadow: 0 0 3px 1px #a8a8a8;
      transition: box-shadow 0.2s ease-in; }
      /* line 37, Applications/MAMP/htdocs/criterium/src/CTT/CriteriumBundle/Resources/private/sass/components/_dashboard-admin.scss */
      .espace-admin .conteneur a:hover {
        box-shadow: 0 0 3px 2px #a8a8a8; }
